<!DOCTYPE html>
<html>
<head>
    <title>Películas con <%= personName %></title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #333;
        }

        h1 {
            font-size: 3em;
            margin: 20px 0;
            color: #0078d4;
            text-align: center;
        }

        h3 {
            font-size: 1.2em;
            color: #555;
            margin-top: 10px;
        }

        .container {
            width: 80%;
            max-width: 1200px;
            margin: 30px 0;
            padding: 20px;
            background-color: white;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }

        .button-container {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
        }

        button {
            background-color: #0078d4;
            color: white;
            border: none;
            border-radius: 4px;
            padding: 10px 20px;
            margin: 10px;
            font-size: 16px;
            cursor: pointer;
        }

        button:hover {
            background-color: #0056b3;
        }

        a {
            color: black;
            font-weight: bold;
            text-decoration: none;
        }

        a:hover {
            text-decoration: none;
            color: #333;
        }

        .back-to-home {
            margin-top: 30px;
            background-color: #f5f5f5;
            padding: 10px 20px;
            border-radius: 5px;
        }

        .back-to-home a {
            font-size: 1.2em;
            color: #0078d4;
        }

        .back-to-home a:hover {
            color: #0056b3;
        }

        ul {
            list-style: none;
            padding: 0;
        }

        ul li {
            margin: 8px 0;
        }

        .favorites-list, .users-list {
            font-size: 1.1em;
            color: #555;
        }
    </style>
</head>
<body>
<h1><%= personName %></h1>
<div class="container">
    <h2>Películas actuadas por <%= personName %></h2>
    <% if (isActor.length === 0) { %>
        <p>Esta persona no actúa en ninguna película.</p>
    <% } else {%>
        <ul>
            <%isActor.sort((a, b) => new Date(b.release_date) - new Date(a.release_date)).forEach((movie) => { %>
                <li><a href="/pelicula/<%= movie.movie_id %>">"<%= movie.title %> (<%= new Date(movie.release_date).getFullYear() %>)" como "<%= movie.characterName%>"</a></li>
            <% }); %>
        </ul>
    <% } %>
<h2>Películas dirigidas por <%= personName %></h2>
    <% if (isDirector.length === 0) { %>
        <p>Esta persona no dirigió ninguna película.</p>
    <% } else { %>
        <ul>
            <% isDirector.sort((a, b) => new Date(b.release_date) - new Date(a.release_date)).forEach((movie) => { %>
                <li><a href="/pelicula/<%= movie.movie_id %>"><%= movie.title %> (<%= new Date(movie.release_date).getFullYear() %>)</a></li>
            <% }); %>
        </ul>
    <% } %>
<script>
    const coll = document.getElementsByClassName('collapsible');
    for (let i = 0; i < coll.length; i++) {
        coll[i].addEventListener('click', function () {
            this.classList.toggle('active');
            const content = this.nextElementSibling;
            if (content.style.display === 'block') {
                content.style.display = 'none';
            } else {
                content.style.display = 'block';
            }
        });
    }
</script>
</div>
<div class="back-to-home"><a href="/index">Inicio</a></div>

</body>
</html>